In [1]:
# TUPLES
# SON INMUTABLES

# Los Loops son más rápidos con tuplas

friends = ['John','Michael','Terry','Eric','Graham']
friends_tuple = ('John','Michael','Terry','Eric','Graham')
print(friends[2])
print(friends_tuple[2])
# slicing
print(friends[2:4])
print(friends_tuple[2:4])

Terry
Terry
['Terry', 'Eric']
('Terry', 'Eric')

In [3]:
type(friends)

list

In [5]:
(4,'jffb')*2

(4, 'jffb', 4, 'jffb')

In [6]:
# SETS
# no tienen orden
# no tienen elementos repetidos

#Sets - blazingly fast unordered Lists 
friends = ['John','Michael','Terry','Eric','Graham']
friends_tuple = ('John','Michael','Terry','Eric','Graham')
friends_set = {'John','Michael','Terry','Eric','Graham','Eric'}
print(friends)
print(friends_tuple)
print(friends_set)

['John', 'Michael', 'Terry', 'Eric', 'Graham']
('John', 'Michael', 'Terry', 'Eric', 'Graham')
{'John', 'Terry', 'Michael', 'Eric', 'Graham'}

In [7]:
my_friends_set = {'Reg','Loretta','Colin','Eric','Graham'}

print(friends_set.intersection(my_friends_set))
print(friends_set.difference(my_friends_set))

{'Graham', 'Eric'}
{'Terry', 'John', 'Michael'}

In [8]:
# Sets - más rápidos que las listas, pero no admiten repeticiones 

# empty Lists
empty_list = []
empyt_list = list()

# empty Tuple
empty_tuple = ()
empty_tuple = tuple()

# empty Set
empty_set = {} # this is wrong, this is a dictionary
empty_set = set()

In [9]:
len(empty_set)

0

In [10]:
empty_set.add(42)

In [11]:
print(empty_set)

{42}

In [12]:
empty_list.append(42)

In [14]:
print(empty_list)

[42]

In [15]:
#Sets - Exercise

#1. Comprobar si 'Eric' y 'John' existen en friends
#2. Combinar o sumar los dos conjuntos
#3. Encuentra nombres que están en ambos conjuntos
#4. Encontrar nombres que solo están en friends
#5. Mostrar solo los nombres que solo aparecen en una de las listas
#6. Crear una nueva lista de autos sin duplicados

friends = {'John','Michael','Terry','Eric','Graham'}
my_friends = {'Reg','Loretta','Colin','John','Graham'}
cars =['900','420','V70','911','996','V90','911','911','S','328','900']

In [16]:
# 1
print('Eric' in friends and 'John' in friends)

True

In [19]:
#2
print(friends.union(my_friends))
print(friends | my_friends )

{'Colin', 'Eric', 'Graham', 'Loretta', 'John', 'Terry', 'Reg', 'Michael'}
{'Colin', 'Eric', 'Graham', 'Loretta', 'John', 'Terry', 'Reg', 'Michael'}

In [20]:
#3
print(friends & my_friends)
print(friends.intersection(my_friends))

{'John', 'Graham'}
{'John', 'Graham'}

In [21]:
#4
print(friends.difference(my_friends))
print(friends - my_friends)

{'Eric', 'Terry', 'Michael'}
{'Eric', 'Terry', 'Michael'}

In [22]:
#5
print(my_friends.symmetric_difference(friends))
print(my_friends ^ friends)

{'Reg', 'Terry', 'Colin', 'Loretta', 'Michael', 'Eric'}
{'Reg', 'Terry', 'Colin', 'Loretta', 'Michael', 'Eric'}

In [24]:
#6
cars_no_dupl = list(set(cars))
print(cars_no_dupl)

['328', '900', 'V90', 'S', 'V70', '911', '420', '996']

In [25]:
set('Hola a todos')

{' ', 'H', 'a', 'd', 'l', 'o', 's', 't'}

In [31]:
# FUNCIONES

def greeting():
  print("Hello Friend!")

In [32]:
greeting()

Hello Friend!

In [39]:
def greeting(name,age):
  print("Hello " + name + ", you are " + age + "!")
  print(f"Hello {name}, you are {age}!")

In [41]:
greeting("Brian","42")

Hello Brian, you are 42!
Hello Brian, you are 42!

In [42]:
def greeting(name,age="28"):
  print("Hello " + name + ", you are " + age + "!")
  print(f"Hello {name}, you are {age}!")
    
greeting("Brian","32")
greeting("Judith")

Hello Brian, you are 32!
Hello Brian, you are 32!
Hello Judith, you are 28!
Hello Judith, you are 28!

In [43]:
# OPERADORES BOOLEANOS

a = 7
b = 3
print(a == b)
print(a != b)
print(a > b)
print(a >= b)
print('u' in 'Juan')
print('u' not in 'Juan')

False
True
True
True
True
False

In [45]:
print(int(False))
print(int(True))

print(bool([]))
print(bool([1,2,3]))

print(bool(''))
print(bool('algo'))

print(42 + False)

0
1
False
True
False
True
42
True
True
2199288014720 2199288014720

In [50]:
a = [3,7,42]
b = a.copy()
print(a == b)
print(a is b)
print(id(a), id(b)) #va a dar el mismo apuntador

True
False
2199288022016 2199288013312

In [51]:
a=7
b=3
print('a == b is', a == b)
print('a != b is', a != b)
print('a > b is', a > b)
print('a < b is', a < b)
print('a >= b is', a >= b)
print('a <= b is', a <= b)
print('o in John is ','o' in 'John') #membership
print('o in John is ','o' not in 'John') #non membership
print('John is John ','John' is 'John') #identity
print('John is not John is ','John' is not 'John') # negative identity

a == b is False
a != b is True
a > b is True
a < b is False
a >= b is True
a <= b is False
o in John is  True
o in John is  False
John is John  True
John is not John is  False

<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
<>:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
C:\Users\paxonian\AppData\Local\Temp\ipykernel_9324\2760185915.py:11: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('John is John ','John' is 'John') #identity
C:\Users\paxonian\AppData\Local\Temp\ipykernel_9324\2760185915.py:12: SyntaxWarning: "is not" with a literal. Did you mean "!="?
  print('John is not John is ','John' is not 'John') # negative identity

In [54]:
# CONDICIONALES

is_raining = False
is_cold = False

print("Good Morning")

if is_raining or is_cold:
  print("Bring Umbrella or jacket or both")
else:
  print("Umbrella is optional")

Good Morning
Umbrella is optional

In [61]:
    
is_raining = False
is_cold = False

print("Good Morning")

if is_raining and is_cold:
  print("Bring Umbrella and jacket")
elif is_raining and not(is_cold): # Esta lloviendo y no esta haciendo frío???
  print("Bring Umbrella")
elif not(is_raining) and is_cold: # No esta lloviendo y está haciendo frío???
  print("Bring Jacket")
else:
  print("Umbrella is optional")

Good Morning
Umbrella is optional

In [64]:
if True:
  pass

In [1]:
# WHILE LOOPS

print("1.*Loops are great*")
print("2.**Loops are great**")
print("3.***Loops are great***")
print("4.****Loops are great****")
print("5.*****Loops are great*****")

1.*Loops are great*
2.**Loops are great**
3.***Loops are great***
4.****Loops are great****
5.*****Loops are great*****

In [2]:
i = 0
while i < 5:
  i=i+1 # i+=1
  print(f"{i}."+ "*"*i + "Loops are awesome" + "*"*i)

1.*Loops are awesome*
2.**Loops are awesome**
3.***Loops are awesome***
4.****Loops are awesome****
5.*****Loops are awesome*****

In [3]:
# FOR LOOPS

for l in 'Norwegian blue':
  print(l)

N
o
r
w
e
g
i
a
n

b
l
u
e

In [5]:
for _ in range(8):
  print(_)

0
1
2
3
4
5
6
7

In [6]:
for _ in range(2,8):
  print(_)

2
3
4
5
6
7

In [7]:
for n in range(1,15,3):
  print(n)

1
4
7
10
13

In [8]:
friends = ['John','Terry','Eric','Michael','George']
for friend in friends:
  print(friend)

John
Terry
Eric
Michael
George

In [24]:
for index in range(len(friends)):
  print(friend[index])

G
e
o
r
g

In [26]:
for friend in friends:
  if friend == 'Eric':
    print('Found ' + friend + '!')
   
  print(friend)

Found Eric!

In [31]:
# ENUMERATE

print('python101 - Enumerate')
friends = ['Brian', 'Judith', 'Reg', 'Loretta', 'Colin']

python101 - Enumerate

In [33]:
# Imprima una lista con número y nombre empezando por 1

i = 1
for friend in friends:
  print(i, friend)
  i += 1

1 Brian
2 Judith
3 Reg
4 Loretta
5 Colin

In [35]:
    
for num, friend in enumerate(friends,10):
  print(num, friend)

10 Brian
11 Judith
12 Reg
13 Loretta
14 Colin

In [40]:
list(enumerate(friends,2))

[(2, 'Brian'), (3, 'Judith'), (4, 'Reg'), (5, 'Loretta'), (6, 'Colin')]

In [41]:
print(type(enumerate(friends)))
print(list(enumerate(friends, start = 5)))

<class 'enumerate'>
[(5, 'Brian'), (6, 'Judith'), (7, 'Reg'), (8, 'Loretta'), (9, 'Colin')]

In [66]:
# Diccionarios

movie = {
    'title' : 'Life of Brian',
    'year' : 1979,
    'cast' : ['John','Eric','Michael','George','Terry']
}

# Diccionarios no son JSON

In [43]:

print(movie)
print(len(movie))
print(movie.keys())
print(movie.values())
print(movie.items())

{'title': 'Life of Brian', 'year': 1979, 'cast': ['John', 'Eric', 'Michael', 'George', 'Terry']}
3
dict_keys(['title', 'year', 'cast'])
dict_values(['Life of Brian', 1979, ['John', 'Eric', 'Michael', 'George', 'Terry']])
dict_items([('title', 'Life of Brian'), ('year', 1979), ('cast', ['John', 'Eric', 'Michael', 'George', 'Terry'])])

In [47]:

for i in movie:
  print(i)

title
year
cast

In [51]:

for k, v in movie.items():
  print(k,v)

Life of Brian
1979
['John', 'Eric', 'Michael', 'George', 'Terry']

In [52]:

for k in movie:
  print(movie[k])

Life of Brian
1979
['John', 'Eric', 'Michael', 'George', 'Terry']

In [53]:
print(movie['title'])

Life of Brian

In [55]:

# como buscar por key
print(movie.get('budget')) #None
print(movie.get('budget','No hay budget')) # "No hay budget"

None
No hay budget

In [56]:
# Editar el diccionario

movie['title'] = 'The Holy Grail'
print(movie.get('title'))

The Holy Grail

In [59]:
movie['budget'] = 250000
print(movie.get('budget','No hay budget'))
print(movie)

250000
{'title': 'The Holy Grail', 'year': 1979, 'cast': ['John', 'Eric', 'Michael', 'George', 'Terry'], 'budget': 250000}

In [61]:

movie.update({'title' : 'The Holy Grail','year':1975,'cast':['John','Eric','Michael','George','Terry']})

print(movie)

{'title': 'The Holy Grail', 'year': 1975, 'cast': ['John', 'Eric', 'Michael', 'George', 'Terry'], 'budget': 250000}

In [62]:
del movie['year']
print(movie)

{'title': 'The Holy Grail', 'cast': ['John', 'Eric', 'Michael', 'George', 'Terry'], 'budget': 250000}

In [67]:
year = movie.pop('cast')

print(year)
print(movie)

['John', 'Eric', 'Michael', 'George', 'Terry']
{'title': 'Life of Brian', 'year': 1979}

In [68]:
# Diccionarios 2

python = {'John':35,'Eric':36,'Michael':35,'Terry':38,'Graham':37,'TerryG':34}
holy_grail = {'Arthur':40,'Galahad':35,'Lancelot':39,'Knight of NI':40, 'Zoot':17}
life_of_brian = {'Brian':33,'Reg':35,'Stan/Loretta':32,'Biccus Diccus':45}

In [69]:

# membership test
print('Arthur' in holy_grail)

True

In [70]:

people = {}

#method 1 update
people.update(python)
people.update(holy_grail)
people.update(life_of_brian)

In [71]:
print(people)

{'John': 35, 'Eric': 36, 'Michael': 35, 'Terry': 38, 'Graham': 37, 'TerryG': 34, 'Arthur': 40, 'Galahad': 35, 'Lancelot': 39, 'Knight of NI': 40, 'Zoot': 17, 'Brian': 33, 'Reg': 35, 'Stan/Loretta': 32, 'Biccus Diccus': 45}

In [72]:
people1 = {}
people2 = {}

In [75]:
#method 2 comprehension
for groups in (python, holy_grail, life_of_brian):
  people1.update(groups)


print(people1)

{'John': 35, 'Eric': 36, 'Michael': 35, 'Terry': 38, 'Graham': 37, 'TerryG': 34, 'Arthur': 40, 'Galahad': 35, 'Lancelot': 39, 'Knight of NI': 40, 'Zoot': 17, 'Brian': 33, 'Reg': 35, 'Stan/Loretta': 32, 'Biccus Diccus': 45}

In [77]:
#method 3 unpacking 3.5 later
people2 = {**python,**holy_grail,**life_of_brian}
print(people2)

print('The sum of the ages: ', sum(people2.values()))

{'John': 35, 'Eric': 36, 'Michael': 35, 'Terry': 38, 'Graham': 37, 'TerryG': 34, 'Arthur': 40, 'Galahad': 35, 'Lancelot': 39, 'Knight of NI': 40, 'Zoot': 17, 'Brian': 33, 'Reg': 35, 'Stan/Loretta': 32, 'Biccus Diccus': 45}
The sum of the ages:  531

In [85]:
my_file = open('greeting.txt','r') # r for reading, w for write, a for append
print(my_file.read())
print(my_file.read(10))
# ALWAYS CLOSE THE FILE
my_file.close()

Hello,
Welcome to Monty Pythons Flying Circus!

In [86]:
my_file = open('greeting.txt','r')
print(my_file.readline())
print(my_file.readline())
my_file.close()

Hello,

Welcome to Monty Pythons Flying Circus!

In [91]:

my_file = open('greeting.txt','r')
line_by_line = my_file.readlines()

print('readlines: ',line_by_line)

# ALWAYS CLOSE THE FILE
my_file.close()

readlines:  ['Hello,\n', 'Welcome to Monty Pythons Flying Circus!']

In [90]:
my_file = open('greeting.txt','r')
line_by_line1 = my_file.read().splitlines()
print('splitlines: ',line_by_line1)

# ALWAYS CLOSE THE FILE
my_file.close()

splitlines:  ['Hello,', 'Welcome to Monty Pythons Flying Circus!']

In [96]:
# Otro Método: Context Manager
with open('friends.csv','r') as archivo:
  # print(archivo.read())
  friends = archivo.read().splitlines()
  print(friends)

['John, 1939', 'Eric, 1943', 'Michael, 1943', 'Graham, 1941', 'TerryG, 1940', 'TerryJ, 1942']

In [95]:
type(archivo)

_io.TextIOWrapper

In [102]:
with open('friends.csv','r') as f:
  # print(f.read())
  friends = f.read().splitlines()
  print(friends)

  for friend in friends:
    #friend = friend.split(',')
    #name = friend[0]
    #year = int(friend[1].strip())
    name, year = friend.split(',')
    print(f'In 2030 {name} will be {2030 -int(year)} years old')

['John, 1939', 'Eric, 1943', 'Michael, 1943', 'Graham, 1941', 'TerryG, 1940', 'TerryJ, 1942']
In 2030 John will be 91 years old
In 2030 Eric will be 87 years old
In 2030 Michael will be 87 years old
In 2030 Graham will be 89 years old
In 2030 TerryG will be 90 years old
In 2030 TerryJ will be 88 years old

In [105]:
# Más Fácil
with open('movies.txt','r') as f:
  for line in f:
    print(line)
        
# Si el archivo no existe, python va a arrojar un error. Estos errores pueden manejarse 
# con manejo de excepciones

Holy Grail, 1975

Life of Brian, 1979

Meaning of Life, 1983

In [106]:
# Escribir en un archivo
presidentes = ['ppk','vizcarra','merino','mercedes','sagasti','castillo']

In [111]:
with open('presidentes.csv','a') as arc:
  for p in presidentes:
    arc.writelines(p+'\n')

In [ ]:
#---------------------------------
# Excepciones


#try:
    #code you want to run
#except:
    #executed if error occurs
#else:
    #executed if no error
#finally:
    #always executed

In [118]:
num = float(input('Dime un número: '))
try:
  print(1/num)
except:
  print('Tal vez colocaste cero??')

0.5

In [134]:
# Juego

try:
  num = int(input('Introduzca un número entre 1 y 30: '))
  _ = 30/num # _ es una variable auxiliar
  if num > 30 or num < 1:
    raise ValueError(num)

except ZeroDivisionError as e:
  print(e, 'No puede dividir por cero!')

except ValueError as err:
  print('Su número es '+ str(err),'Valor equivocado menor a 1 o mayor a 30') # falla con letras

except:
  print("Input inválido!") # falla con cero

else:
  print("30 dividido por",num, "es: ", 30/num)
  
finally:
  print("++ Buen día ++")

Su número es 31 Valor equivocado menor a 1 o mayor a 30
++ Buen día ++

In [141]:
# Clases y Objetos

#Classes are blueprints
#Objects are the actual things you built
#variables => attributes
#functions => methods

class Movie:
  def __init__(self,title,year,imdb_score,have_seen): #constructor de la clase (inicializador)
    self.title = title
    self.year = year
    self.imdb_score = imdb_score
    self.have_seen = have_seen

  def nice_print(self):
    print("Title: ", self.title)
    print("Year of production: ", self.year)
    print("IMDB Score: ", self.imdb_score)
    print("I have seen it: ", self.have_seen)
        
film_1 = Movie("Life of Brian",1979,8.1,True)
film_2 = Movie("The Holy Grail",1975,8.2,False)

print(film_1.title, film_1.imdb_score)

Life of Brian 8.1

In [139]:
film_2.have_seen=True

In [142]:
film_2.nice_print()

Title:  The Holy Grail
Year of production:  1975
IMDB Score:  8.2
I have seen it:  False

In [149]:
# Herencia
# Class Inheritance

class Person:
    def move(self):
        print("Moves 4 paces")
    def rest(self):
        print("Gains 4 health points")

In [150]:

character1=Person()
character1.move()

Moves 4 paces

In [151]:

class Doctor(Person):
    def heal(self):
        print("Heals 10 health points")
        
character1=Doctor()
character1.heal()

Heals 10 health points

In [154]:

class Fighter(Person):
    def fight(self):
        print("Do 10 health points of damage")
    def move(self):
        print("Moves 6 paces")


character1=Fighter()
character1.fight()
character1.move()

Do 10 health points of damage
Moves 6 paces

In [157]:

class Wizard(Doctor,Fighter):
    def cast_spell(self):
        print("Turns invisble")
    def heal(self):
        print("Heals 15 health points")

character1=Wizard()
character1.heal()
character1.move() #se mueve 6 pasos

Heals 15 health points
Moves 6 paces